button {
    font-family: Verdana, sans-serif;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: cadetblue;
    color:white;
}

button:active {
    background-color: powderblue;
}